.form-check{
    font-size: larger;
    border-bottom: 1px solid lightgray;
    padding: 5px 20px;
}

.linethrough-text
{
    text-decoration: line-through;
    color: gray;
}

.regular-text
{
    text-decoration: none;
    color:black;
}